html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0px;
  padding: 0px;
  color: #555555;
  min-width: 320px;
}

#content {
  padding-top: 70px;
}

.players {
  position: absolute;
  left: 0;
  top: 48px;
  padding-top: 15px;
  height: 100%;
  width: 250px;
  border-right: 1px solid #e7e7e7;
}